div{
    background-color: cadetblue;
    margin: 20px;
    border: 10px solid thistle;
    padding: 10px 20px;

}
h1{
    font-family: fantasy;
    font-size: medium;
    text-decoration: underline;
    text-shadow: 10px 1px 1px   aqua;
    text-align: center;
    margin: 50px;

}