div{
    
    background-color: cadetblue;
    margin: 20px;
    border: 10px solid thistle;
    padding: 10px 20px;


}

h1{
    
    text-align: center;
    font-family: fantasy;
    background-image:url(../styles/csss.jpg);
    height: 500px;
    font-size: 50px;

}